		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Tools</h3>
									<ul class="links">
										<li><a href="http://playbook.hackmke.com">Digital Best Practice Playbook</a></li>
										<li><a href="http://github.com/milwaukeedata/codeofconduct">Code of Conduct</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan dolor</a></li>
										<li><a href="#">Mattis rutrum accumsan</a></li>
										<li><a href="#">Suspendisse varius nibh</a></li>
										<li><a href="#">Sed et dapibus mattis</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>Resources &amp; Training</h3>
									<ul class="links">
										<li><a href="#">Duis neque nisi dapibus</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan sed</a></li>
										<li><a href="#">Mattis et sed accumsan</a></li>
										<li><a href="#">Duis neque nisi sed</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum amet varius</a></li>
									</ul>
								</section>
							</div>
						</div>
						<section class="6u">
							<!-- Begin MailChimp Signup Form -->
							<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
							<style type="text/css">
								#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
								/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
								   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
							</style>
							<div id="mc_embed_signup">
								<form action="//milwaukeedata.us1.list-manage.com/subscribe/post?u=0c9b98aec1018f458d1f07af0&amp;id=4612d40193" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								    <div id="mc_embed_signup_scroll">
									<h2>Stay in touch</h2>
								<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
								<div class="mc-field-group">
									<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
								</label>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
								</div>
								<div class="mc-field-group">
									<label for="mce-FNAME">First Name </label>
									<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
								</div>
								<div class="mc-field-group">
									<label for="mce-LNAME">Last Name </label>
									<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
								</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none">
										</div>
										<div class="response" id="mce-success-response" style="display:none">
										</div>
									</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								    <div style="position: absolute; left: -5000px;" aria-hidden="true">
								    	<input type="text" name="b_0c9b98aec1018f458d1f07af0_4612d40193" tabindex="-1" value="">
								    </div>
								    <div class="clear">
								    	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
							    	</div>
								    </div>
								</form>
							</div>

<!--End mc_embed_signup-->
							<!--
							<h3>Get In Touch</h3>
							<form>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
							-->
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://twitter.com/datamke" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://facebook.com/mkedata" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/milwaukeedata" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<!--
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						-->
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
						</ul>
					</div>

			</div>

	</body>
</html>